@media (-webkit-device-pixel-ratio: 1.25) {
    .side-nav {
        zoom: 0.8;
    }
}
.side-nav {
    width: 250px;
    height: 100%;
    background: #f7ce05;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 5px;
    float: left;
}

.logos {
    display: block;
    margin-bottom: 25px;
    
    

}

.logo-img {
    width: 250px;
    
}

.nav-links_user {
    list-style: none;
    position: relative;
}

.nav-links_user li {
    padding: 10px 0;
    margin-left: 5%;
}

.nav-links_user a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;


}

.nav-links_user i {
    font-size: 22px;
    margin-right: 20px;
}

.active {
    background: #fff;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2%;
    z-index: -1;
    border-radius: 6px ;
    box-shadow: 0 5px 10px rgba(255,255,255,0.4);
    display: none;
    transition: top 0.5s;
}

.nav-links_user li:hover a {
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

.nav-links_user li:hover ~ .active {
    display: block;
}

.nav-links_user li:nth-child(1):hover ~ .active {
    top: 2%;
}

.nav-links_user li:nth-child(2):hover ~ .active {
    top: 22%;
}

.nav-links_user li:nth-child(3):hover ~ .active {
    top: 42%;
}

.nav-links_user li:nth-child(4):hover ~ .active {
    top: 62%;
}

.nav-links_user li:nth-child(5):hover ~ .active {
    top: 82%;
}

.logo-icon{
    display: none;
    width: 30px;
}

@media only screen and (max-width: 600px) {
    .side-nav{
        width: 50px;
    }
    .logo-icon{
        display: block;
    }
    .logo-img{
        display: none;
    }
    .nav-links_user li a p{
        display: none;
    }
    .nav-links_user li a i{
        margin-right: 0;
    }
    .nav-links_user li a{
        justify-content: center;
    }
}