



.side-nav {
    width: 250px;
    height: 100%;
    background: #f7ce05;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 5px;
    float: left;
}

.logo {
    display: block;
    margin-bottom: 130px;
    margin-left: 15%;
    

}

.logo-img {
    width: 150px;
    
}

.nav-links_user {
    list-style: none;
    position: relative;
}

.nav-links_user li {
    padding: 10px 0;
    margin-left: 5%;
}

.nav-links_user a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;


}

.nav-links_user i {
    font-size: 22px;
    margin-right: 20px;
}

.active {
    background: #fff;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2%;
    z-index: -1;
    border-radius: 6px ;
    box-shadow: 0 5px 10px rgba(255,255,255,0.4);
    display: none;
    transition: top 0.5s;
}

.nav-links_user li:hover a {
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

.nav-links_user li:hover ~ .active {
    display: block;
}

.nav-links_user li:nth-child(1):hover ~ .active {
    top: 2%;
}

.nav-links_user li:nth-child(2):hover ~ .active {
    top: 22%;
}

.nav-links_user li:nth-child(3):hover ~ .active {
    top: 42%;
}

.nav-links_user li:nth-child(4):hover ~ .active {
    top: 62%;
}

.nav-links_user li:nth-child(5):hover ~ .active {
    top: 82%;
}

