@media (-webkit-device-pixel-ratio: 1.25) {
    .body_homepage{
        zoom:0.8;
    }
}

@media (-webkit-device-pixel-ratio: 1.50) {
    .body_homepage{
        zoom:0.7;
    }
}
.body_homepage {
    margin-left: 15%;
    margin-bottom: 5%;   
}

.content {
    position: relative;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    
}

.textBox_user {
    position: relative;
    max-width: 600px;
    
}

.textBox_user h2 {
    color: #333;
    font-size: 3em;
    line-height: 1.4em;
    font-weight: 500px;
    
   

}
.Logs {
    margin-top: 30%;
}

.systemlogs span {
    color: #f7ce05;
    font-size: 1em;
    font-weight: 900px;
    
}

.systemlogs h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500px;
    
}

.textBox_user span {
    color: #f7ce05;
    font-size: 1em;
    font-weight: 900px;
   text-transform: lowercase;
}

.textBox_user p {
    color: rgb(187, 182, 182);
}

.textBox_user a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #f7ce05;
    color: rgb(0, 0, 0);
    border-radius: 40px;
    font-weight: 500px;
    letter-spacing: 1px;
    text-decoration: none;
}

.imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    margin-top: 50px;
}
.school {
    max-width: 480px;
    border-radius: 25px;
}

@media only screen and (max-width: 600px) {
    .body_homepage {
        margin-left: 15%;
    }

    .textBox_user h2{
        font-size: 2em;
    }

    .textBox_user span {
        font-size: 1em;
    }

    .imgBox {
        display: none;
    }
    
    
    .systemlogs h2 {
            font-size: 2em;
            
        }
    .Logs {
        margin-top: 75%;
    }

   
    }




