@media (-webkit-device-pixel-ratio: 1.25) {
	.body_talktous {
		zoom: 0.8;
	}
}
@media (-webkit-device-pixel-ratio: 1.50) {
	.body_talktous {
		zoom: 0.7;
	}
}


.talktous_user{
	color: #f7ce05;
    font-size: 4em;
    font-weight: 900px;
	margin-left: 15%;
}

.container{
	
	height: 100%;
	margin: 5% 0% 10% 25%;
	padding: 20px 100px;
	
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-radius: 25px;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
	background-color: #fff;
	
}

.left{
	background: url("../../assets/archust.jpeg") no-repeat center;
	background-size: cover;
	height: 100%;
	border-radius: 25px;
}

.right{
	padding: 25px 40px;
	
}

.right p{
	color: rgb(187, 182, 182);
	margin-bottom: 8px;

	
}

.right h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.right h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #f7ce05;
}

.field{
	width: 100%;
	height: 250px;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #f7ce05;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #f7ce05;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

.faq_body{
	
	font-family:'Quicksand', sans-serif;
	background: #fff;
	color: rgb(0, 0, 0);
}

.section_faq {
	min-height: 800px;
	width: 90%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-size: 3rem;
	margin: 2rem 0rem;
}

.faq {
	width: 900px;
	margin-top: 2rem;
	padding-bottom: 1rem;
	border-bottom: 2px solid rgb(0, 0, 0);
	cursor: pointer;
}
.divider_talktous_user {
	border-top: 3px solid rgb(0, 0, 0);
width: 1610px;
}

.question {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.question h3{
	font-size: 1.8rem;
	
}

.answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1.4s ease;
}

.answer p{
	padding-top: 1rem;
	line-height: 1.6;
	font-size: 1.4rem;
}

.faq._active .answer {
	max-height: 300px;
	animation: fade 1s ease-in-out;
}

.faq._active svg {
	transform: rotate(180deg);
}

.receiver {
	width: 100%;
  height: 25px;
  padding: 0px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  resize: none;
  margin-bottom: 15px;
}

svg{
	transition: transform .5s ease-in;
}

@keyframes fade {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media only screen and (max-width: 600px) {
	.talktous_user{
		font-size: 1em;
    	font-weight: 900px;
	}
	
	.left {
		display: none;
	}
	.divider_talktous_user{
		width: 100%;
	}
	.contact-box{
		display: inline-block;
		border-radius: 15px;
		
	}
	.container{
	margin: 0px;
	padding: 20px 75px;
	}
	.right{
		padding: 10px;
	}

	.faq {
		width: 250px;
	}
	
}