.analytics_body {
    margin-left: 15%;
}

.graph_container_content {
    border-style: solid;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 1200px; 
    height: 600px;
   
    
}

.divider_analytics_content {
    border-top: 3px solid rgb(0, 0, 0);
    width: 1610px;
    margin-bottom: 25px;
}

.textBox_analytics_content h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500px;
}

.button_container button {
  
  display: inline-block;
  margin-top: 25px;
  margin-left: 15px;
  padding: 8px 10px;
  background: #f7ce05;
  color: rgb(0, 0, 0);
  border-radius: 0px;
  font-weight: 500px;
  letter-spacing: 1px;
  text-decoration: none;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  border: none;
  cursor: pointer;
  margin-bottom: 3%;
}

@media only screen and (max-width: 600px){
  
    .textBox_analytics_content h2 {
      color: #333;
      font-size: 2em;
      line-height: 1.4em;
      font-weight: 500px;
  }
  
  .divider_analytics_content {
    width: 100%;
  }

  .graph_container_content {
    width: 95%;
    height: 100%;
  }
  }

  .table {
   
   display: block;
  width: 90%;
  height: 600px;
  overflow: auto;
  clear: both;
  
  }