.authorizeload{
    margin-left: 600px;

}
.execute{
    margin-left: 600px;
}

.detectdata_display{
    color: black;
    margin-left: 300px;
}

.intent_display_container{
    color: black;
    margin-left: 190px;
}
