@media (-webkit-device-pixel-ratio: 1.25) {
    .chatbot_body {
        zoom: 0.8;
    }
}

.authorizeload{
    margin-left: 600px;

}
.execute{
    margin-left: 600px;
}

.detectdata_display{
    color: black;
    margin-left: 300px;
}

.intent_display_container{
    color: black;
    margin-left: 190px;
}


.chatbot_body {
    margin-left: 15%;
}

.button_chatbot_content button {
    border: none;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 50px;
    padding: 8px 10px;
    background: #f7ce05;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    letter-spacing: 1px;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 15%);
    margin-left: 10px;
    cursor: pointer;
}
.token {
    border: none;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 8px 10px;
    background: #f7ce05;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    letter-spacing: 1px;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 15%);
    margin-left: 10px;
    cursor: pointer;
    
    
}

.button_chatbot_content a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.divider_chatbot {
    
    border-top: 3px dashed #bbb;
    width: 1610px;
    margin-top: 15px;
}
.divider_admin2{
    border-top: 3px dashed #bbb;
    width: 50%;
}

.chatbot_creation {
    display: flex;
    width: 50%;
    height: 25px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    resize: none;
    margin-bottom: 5px;
    
}
.chatbot_email {
    display: flex;
    width: 50%;
    height: 25px;
    
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    resize: none;
    margin-bottom: 5px;
}
.tokeninput{
    display: flex;
    width: 50%;
    height: 25px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    resize: none;
    margin-bottom: 5px;
}
.token_input {
    margin-top: 15px;
}

.chatbot_inputs {
    margin-top: 25px;
}

.list_chatbot {
    height: 500px;
    width: 100%;
    overflow: auto;
    margin-bottom: 2%;
}