.body_administrator {
    margin-left: 15%;
}

.textBox_super h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500px;
}

.office {
    width: 100%;
  height: 25px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  resize: none;
  margin-bottom: 5px;
    
  }

  .dashed {
    border-top: 3px dashed #bbb;
    width: 1200px;
    margin-top: 10px;
  }

