.ratings_body{
    margin-left: 15%;
    
  }

  .ratings_user {
    color: #f7ce05;
    font-size: 4em;
    font-weight: 900px;
	margin-left: 15%;

  }

 
  
  .button_user a {
    display: inline-block;
      margin-top: 4%;
      padding: 8px 20px;
      background: #f7ce05;
      color: rgb(0, 0, 0);
      border-radius: 40px;
      font-weight: 500px;
      letter-spacing: 1px;
      text-decoration: none;
      margin-left: 15%;
      
  }
  
  ::selection{
    background: rgba(23,162,184,0.3);
  }
  .wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
  }
  .wrapper .box{
    background: #fff;
    width: 350px;
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
    margin-top: 2%;
    margin-bottom: 5%;
    
  }
  .wrapper .box i.quote{
    font-size: 20px;
    color: #f7ce05;
  }
  .wrapper .box .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  .box .info .name{
    font-weight: 600;
    font-size: 17px;
  }
  .box .info .job{
    font-size: 16px;
    font-weight: 500;
    color: #f7ce05;
  }
  .box .info .stars{
    margin-top: 2px;
  }
  .box .info .stars i{
    color: #f7ce05;
  }
  .box .content .image{
    height: 75px;
    width: 75px;
    padding: 3px;
    background: #f7ce05;
    border-radius: 50%;
  }
  .content .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  .box:hover .content .image img{
    border-color: #fff;
  }
  @media (max-width: 1045px) {
    .wrapper .box{
      width: calc(50% - 10px);
      margin: 10px 0;
    }
  }
  @media (max-width: 702px) {
    .wrapper .box{
      width: 100%;
    }
  }


  .modal {
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    
}

.message_user {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  resize: none;
  
}


.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #fff;
    padding: 14px 28px;
    border-radius: 3px;
    width: 800px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.buttons_reviews_user {
  float: right;
}

.name_ratings_user {
  width: 100%;
  height: 25px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  resize: none;
  margin-bottom: 5px;
}

.buttons_reviews_user a{
  display: inline-block;
  margin-top: 8%;
  margin-left: 15px;
  padding: 8px 10px;
  background: #f7ce05;
  color: rgb(0, 0, 0);
  border-radius: 0px;
  font-weight: 500px;
  letter-spacing: 1px;
  text-decoration: none;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}