* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  
  
 

  .logo2 {
    height: 100px;
    width: 100%;
    object-fit: cover;
    background: #f7ce05;
    object-position: center;
    display: flex;
    
  }

  df-messenger {
    --df-messenger-bot-message: #f7ce05;
    --df-messenger-button-titlebar-color: #f7ce05;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-send-icon: #f7ce05;
   }
  
 