@media (-webkit-device-pixel-ratio: 1.25) {
  .analytics_body {
    zoom: 0.8;
  }
}

.divider_analytics {
    border-top: 3px solid rgb(0, 0, 0);
    width: 1610px;
    
}

.table table, th, td {
    
    padding: 15px;
  }

  .table th {
    text-align: left;
  }