
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

.bodyLogin {
    width: 100%;
    height: 100vh;
    background-color: #f7ce05;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: 8px;
  
}


.login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;  
}

.formLogin{
    
    margin: auto;
    height: 500px;
    width: 400px;
    background-color: #f8f9fa;
    border-radius: 20px 100px;
    padding: 80px 50px;
    box-shadow: 10px 10px 21px -6px rgba(0, 0, 0, 0.2)
}

.login, .formLogin h1{
    margin-bottom: 30px;
    text-align: center;
}
.formLogin a{
    display: flex;
    justify-content: center;
    
}
.inputContainer {
    position: relative;
    height: 48px;
    margin-bottom: 30px;
}

.inputLogin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: 1px solid #adb5bd;
    border-radius: 15px;
    outline: none;
    background: none;
    padding: 16px;
    z-index: 1;
}

.labelLogin{
    position: absolute;
    left: 16px;
    top: 10px;
    background-color: #f8f9fa;
    padding: 3px 5px;
    color: #adb5bd;
    font-size: 16px;
    transition: 0.3s;
}

.submitButton{
    display: block;
    margin: auto;
    padding: 10px 30px;
    outline: none;
    border: none;
    background-color: #252629;
    color: #f8f9fa;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.submitButton:hover {
    border-radius: 5px 15px;

}

.inputLogin:focus + .labelLogin{
    top: -10px;
    font-size: 13px;
    font-weight: bold;
    color: #252629;
    z-index: 2;
}



.inputLogin:focus{
    border: 1px solid #252629;
}

df-messenger {
    --df-messenger-bot-message: #f7ce05;
    --df-messenger-button-titlebar-color: #f7ce05;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-send-icon: #f7ce05;
   }
